      <!-- CreateNew Page -->
          <nav class="col-2 bg-light homepage p-2">
            <h2> Navigation </h2>
      {{!-- <!-- {{#if logged_in}} --> --}}
          <button type="button" id="logout" class="btn btn-secondary m-2"><a href="/login">Log Out</a></button>
      {{!-- <!-- {{/if}} --> --}}
          </nav>
          <form class="col p-4" autocomplete="off">
           <h2>Create New Event</h2>
           <div class="mb-3">
            <label for="eventTitle" class="form-label">Event Title</label>
            <input type="text" class="form-control" id="eventTitle" placeholder="Ex: Birthday Bash!">
            <label for="eventLoc" class="form-label">Location</label>
            <input type="text" class="form-control" id="eventLoc" placeholder="Ex: Atlanta, GA">
        </div>
        <div class="mb-3">
            <label for="eventDescription" class="form-label">Description</label>
            <textarea class="form-control" id="eventDescription" rows="4" placeholder="Tell people about the event, what to bring, what to wear, etc..."></textarea>
        </div>
        <div class="row">
          <div class="col">
            <label for="from" class="form-label">Date</label>
            <input type="date" id="date" name="from" class="form-control">
            {{!-- <label for="to">To</label>
            <input type="text" id="to" name="to" class="form-control col"> --}}
          </div>
          <div class="col">
            <label for="eventCapacity" class="form-label">Capacity</label>
            <input type="number" min="0" class="form-control" id="eventCapacity" rows="4" placeholder="How many people are you able to host/want uwu"></input>
 
         </div>
        </div><br>
        <button type="button" class="btn btn-light" id="newEvent">It's a Party! 🎉</button>
      </form>
          <aside class="col-2 bg-light homepage p-2">
            <h2>My RSVPs</h2>
          </aside>

      <script src='/js/logout.js'></script>
      <script src="./js/createNew.js"></script>
      <!-- end CreateNew Page -->
