<!-- Home Page -->
<div class="container-fluid homepage">
  <div class="row align-items-start">
    <nav class="col-2 bg-light homepage p-2">
      <h2> Navigation </h2>

      {{!-- {{#if logged_in}} --}}
          <button type="button" id="logout" class="btn btn-secondary m-2"><a href="/login">Log Out</a></button>
      {{!-- {{/if}} --}}
      <button type="button" class="btn btn-secondary m-2"><a href="/new">Create New Event</a></button>
      <button type="button" class="btn btn-secondary m-2"><a href="/invite">Send Invites</a></button>

    </nav>
    <div class="col p-2">
      <h2>My Events</h2>
      {{#each events}}
      <article>
        <div>
          <h2>
            <a href="/event/{{event_unique}}">{{title}}</a>
          </h2>
          <div>
          </div>
        </div>
        <div>
          {{description}}
        </div>
      </article>
      {{/each}}
    </div>
    <aside class="col-2 bg-light homepage p-2">
      <h2>My RSVPs</h2>
    </aside>
  </div>
  </div>

<script src='/js/logout.js'></script>
<script src="./js/new-invite.js"></script>
  <!-- end Home Page -->
