      <!-- Home Page -->
      <div class="container-fluid homepage">
        <div class="row align-items-start">
          <nav class="col-2 bg-light homepage p-2">
            <h2> Navigation </h2>
            <!-- {{#if logged_in}}
              <script src='/js/logout.js'></script>
            {{/if}} -->
          </nav>
          <div class="col p-2">
           <h2>My Events</h2>
           {{ home page content }}
          </div>
          <aside class="col-2 bg-light homepage p-2">
            <h2>My RSVPs</h2>
          </aside>
        </div>
      <!-- end Home Page -->