<!-- Home Page -->
<div class="container-fluid homepage">
  <div class="row align-items-start">
    <nav class="col-2 bg-light homepage p-2">
      <h2> Navigation </h2>
      {{#if logged_in}}
          <button type="button" class="btn btn-secondary"><a href="/login">Log Out</a></button> <script src='/js/logout.js'></script>
      {{/if}}
      <button type="button" class="btn btn-secondary"><a href="/new">Create New Event</a></button>
    </nav>
    <div class="col p-2">
      <h2>My Events</h2>
      {{#each events}}
      <article>
        <div>
          <h2>
            <a href="/event/{{id}}">{{title}}</a>
          </h2>
          <div>
          </div>
        </div>
        <div>
          {{description}}
        </div>
      </article>
      {{/each}}
    </div>
    <aside class="col-2 bg-light homepage p-2">
      <h2>My RSVPs</h2>
    </aside>
  </div>
  </div>
  <!-- end Home Page -->