<!-- Home Page -->
<div class="container-fluid homepage">
  <div class="row align-items-start">
    <nav class="col-2 bg-light homepage p-2">
      <h2> Navigation </h2>
      <button type="button" id="logout" class="btn btn-secondary m-2"><a href="/login">Log Out</a></button>
      <button type="button" class="btn btn-secondary m-2"><a href="/new">Create New Event</a></button>
     
    </nav>
    <div class="col text-light m-4 p-2">
      <h2>My Events</h2>
      {{#each events.events}}
      <article class='bg-light rounded col m-3' style='--bs-bg-opacity: .4;'>
        <div>
          <h3>
            <a href="/event/{{event_unique}}">{{title}}: {{dates}}</a>
          </h3>
        </div>
        <div>
          {{description}}
        </div>
      </article>
      {{/each}}
    </div>
    <aside class="col-2 bg-light homepage p-2">
      <h2>My RSVPs</h2>
    </aside>
  </div>
  </div>
  <script src="/js/home.js"></script>

<script src='/js/logout.js'></script>
  <!-- end Home Page -->
