<!-- Invite Page -->
<nav class="col-2 bg-light homepage p-2">
    <h2> Navigation </h2>
    {{!-- {{#if logged_in}} --}}
    <button type="button" id="logout" class="btn btn-secondary m-2"><a href="/login">Log Out</a></button>
    {{!-- {{/if}} --}}
    <button type="button" class="btn btn-secondary m-2"><a href="/new">Create New Event</a></button>
    <br>
</nav>
<div class="col m-5 p-2" autocomplete=off>
    <h2>Send invitations to: {{event.name}}</h2>
    <form class="newInvite">
        <label for="to" class="form-label">To:</label>
        <input type="text" id="toInvite" class="form-control">
        <label for="from">From:</label>
        <input type="text" id="fromInvite" class="form-control">
        <label for="invite">Invite Message:</label>
        <textarea name="invite" id="invite" class="form-control" cols="30" rows="10"></textarea>
        <button type="button" id="send" class="btn btn-light m-2">Send!</button>
    </form>
</div>
<aside class="col-2 bg-light homepage p-2">
    <h2>My RSVPs</h2>
</aside>

<script src='/js/logout.js'></script>
<script src="./js/new-invite.js"></script>
<!-- end Invite Page -->