<!-- Login page, logo and form -->
<div class='container row text-center'>
<form class='bg-light rounded col m-3' style='--bs-bg-opacity: .4;'>
  <div class='col-md mb-3'>
    <h1>Login</h1>
    <input
      type='email'
      class='form-control'
      id='login-email'
      placeholder='name@example.com'
    />
    <label for='loginEmail'>Email address</label>
    <input
      type='password'
      class='form-control'
      id='login-password'
      placeholder='Password'
    />
    <label for='loginPassword'>Password</label>
    <br>
    <button id='login' class='btn btn-secondary mt-4'>Login</button>
  </div>
  </form>
  <form class='bg-light rounded col m-3' style='--bs-bg-opacity: .4;'>
  <div class='col-md mb-3'>
    <h1>Sign Up</h1>
    <input
      type='email'
      class='form-control'
      id='signupEmail'
      placeholder='name@example.com'
    />
    <label for='signupEmail'>Email address</label>
    <input
      type='password'
      class='form-control'
      id='signupPassword'
      placeholder='Password'
    />
    <label for='signupPassword'>Password</label>
    <input
      type='name'
      class='form-control'
      id='signupName'
      placeholder='John Doe'
    />
    <label for='signupName'>Name</label>
    <br />
    <button id='signup' class='btn btn-secondary'>Sign Up</button>
  </div>
</form>
</div>
<script src='./js/login.js'></script>
<!-- end login -->