<!-- Login page, logo and form -->

<img
  src='./assets/noun_Party_98497.png'
  alt='Party by Tommy Lau from the Noun Project'
  class='mb-4'
  alt
  width='140'
  height='140'
/>
<form class='row'>
  <div class='col-md mb-3'>
    <h1>Login</h1>
    <input
      type='email'
      class='form-control'
      id='loginEmail'
      placeholder='name@example.com'
    />
    <label for='loginEmail'>Email address</label>
    <input
      type='password'
      class='form-control'
      id='loginPassword'
      placeholder='Password'
    />
    <label for='loginPassword'>Password</label>
    <br />
    <button id="login" class='btn btn-light' type='submit'>Button</button>
  </div>
  <div class='col-md mb-3'>
    <h1>Sign Up</h1>
    <input
      type='email'
      class='form-control'
      id='signupEmail'
      placeholder='name@example.com'
    />
    <label for='signupEmail'>Email address</label>
    <input
      type='password'
      class='form-control'
      id='signupPassword'
      placeholder='Password'
    />
    <label for='signupPassword'>Password</label>
    <input
      type='name'
      class='form-control'
      id='signupName'
      placeholder='John Doe'
    />
    <label for='signupName'>Name</label>
    <br />
    <button id="signup" class='btn btn-light' type='submit'>Button</button>
  </div>
</form>
<script src="../public/js/login.js"></script>
<!-- end login -->