body {
  background-color: teal;
  font-family: 'Zen Maru Gothic', sans-serif;
  height: 100%;
  /* display: flex;
  justify-content: center; */
}

.homepage {
  height: 120vh;
  border-radius: 20px;
}

h1 {
    font-weight: 700;
    color: black;
}

h2 {
  font-weight: 600;
}

label {
  font-size: large;
}

a {
  color: inherit;
  text-decoration: none;
}

a:hover {
  color: inherit;
}

p {
  font-size: large;
}

#logo {
  max-height: 10vh;
}

#login {
  align-content: flex-end;
}