body {
  background-color: teal;
  font-family: 'Zen Maru Gothic', sans-serif;
  height: 100%;
  /* display: flex;
  justify-content: center; */
}

.homepage {
  height: 120vh;
  border-radius: 20px;
}

h1 {
    font-weight: 700;
    color: black;
}

h2 {
  font-weight: 600;
}

label {
  font-size: large;
}

a {
  color: inherit;
  text-decoration: none;
}

a:hover {
  color: inherit;
}

p {
  font-size: large;
}

#logo {
  max-height: 10vh;
}

#login {
  align-content: flex-end;
}

/* http://waitanimate.wstone.io/#!/ */
.shake:hover {
  animation: shake-animation .5s ease infinite;
  transform-origin: 50% 50%;
}

#party {
  margin: 0 auto;
  width: 150px;
  height: 150px;
  background: transparent;
}

@keyframes shake-animation {
   0% { transform:translate(0,0) }
  1.78571% { transform:translate(5px,0) }
  2.57143% { transform:translate(0,0) }
  5.35714% { transform:translate(5px,0) }
  7.14286% { transform:translate(0,0) }
  8.92857% { transform:translate(5px,0) }
  9.71429% { transform:translate(0,0) }
  100% { transform:translate(0,0) }
}