body {
  background-color: teal;
  font-family: 'Zen Maru Gothic', sans-serif;
  height: 100%;
  /* display: flex;
  justify-content: center; */
}

.homepage {
  height: 120vh;
  border-radius: 20px;
}

.inviteList {
  float: left;
}

h1 {
  font-weight: 600;
}

h2 {
  font-weight: 400;
}

label {
  font-size: large;
}

a {
  color: inherit;
}

a:hover {
  color: inherit;
}

#logo {
  max-height: 10vh;
}
